*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body{
  background-color: black;
}

.container{
  position: relative;
}

.title{
  background-color: #303030;
  padding: 5px 25px;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  text-align: center;
  font-size: 70px;
  letter-spacing: 4px;
  color: red;
}

.title img{
  width: 80px;
}

.title input{
  padding: 5px 2px;
  outline: 0;
  margin-right: 10px;
}

.title button{
  padding: 5px 2px;
  border-radius: 5px;
}

.cards{
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  height: 350px;
  background-color: #000;
  margin: 20px 30px;
  position: relative;
  display: flex;
}

.card img{
  width: 300px;
  height: 350px;
  background-image: url(./img/noimage.jpg);
  background-position: center;
}

.card > .text{
  position: absolute;
  color: #FFF;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.text .info{
  opacity: 0;
  height: 100%;
  padding-top: 50px;
  transition: .5s ease;
  padding-left: 15px;
}

.card p{
  font-size: 22px;
  margin: 10px 0;
  margin-bottom: 20px;
}

.card span{
  font-size: 18px;
}

.card:hover  .info{
  background-color: #000;
  opacity: 0.8;
}
